.back {
  border: 1px solid white;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  background: transparent;
  position: relative;
  left: calc(
    50% - 300px + 0.5rem
  ); /* Centers based on form width (600px) and adds padding offset */
  margin-bottom: 1rem;
}

.back:hover {
  background: white;
  color: black;
}
